/* import fonts from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Poppins:wght@700&family=Roboto:wght@500&family=Slabo+27px&display=swap');
:root{
    --light-gray:#1a0000;
    --primary-color:#45ccb8;
    --border:#1a0000;
    --text-color:#ff686b;
    --roboto:"roboto",sans-serif;
    --gugi:"gugi",cursive;
    --sofia:"sofia",cursive;
    }

.primary-color{
    color:black;
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family:var(--roboto);
}

.lightblue{
    color: lightblue;
}

/* header */

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
    
}
h1{
    font-size: 40px;
}


/*===sign in====*/

.header-links a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.header-links a:hover{
    
    color: red;
}

/* NAVIGATION MENU */


html
{
    font-size: 16px bold;
    font-family: 'Poppins', sans-serif;

}
body
{
    overflow-x: hidden;
}
a
{
    text-decoration: none;
    color: #ff0066;
}
.navbar5
{
    width: 100%;
    
    
    background-color: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5));
}
.container5
{
    
    width: 100%;
    
}
nav
{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.0rem;
    background-color: #f2f2f2;
    padding: 11px;
    width: 100%;
    
}
.brand a{
    text-decoration: none;
}
.brand
{
    font-size: 3rem;
    font-weight: 600;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.brand span
{
    color: crimson;
}
.clr a{
    color: #000;
}
.clr li a{
    text-decoration: none;
}
.clr{
    margin-right: 152px;
}

nav ul
{
    display: flex;
}
nav ul li
{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
nav ul li:nth-child(1)
{
    animation-delay: 0s;
}
nav ul li:nth-child(2)
{
    animation-delay: .5s;
}
nav ul li:nth-child(3)
{
    animation-delay: 1s;
}
nav ul li:nth-child(4)
{
    animation-delay: 1.5s;
}
nav ul li:nth-child(5)
{
    animation-delay: 1.8s;
}
nav ul li:nth-child(6)
{
    animation-delay: 2.0s;
}
nav ul li a
{
    padding: 6px 0;
    margin: 2rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child
{
    margin-right: 0;
}
nav ul li a::before,
nav ul li a::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff0066;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
nav ul li a::before
{
    top: 0;
    transform-origin: left;
}
nav ul li a::after
{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after
{
    transform: scaleX(1);
}

@keyframes slideIn
{
    from{
        
    }
      to{
        transform: translateX(0);
        
    }
}




/*=======End of navigation=============*/

/*============Img Galllery==================*/

       body
{
    font-family: sans-serif;
}
h1
{
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}
.gallery
{
    margin-left: 36px;
}
.gallery img
{
    width: 250px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover
{
    filter: grayscale(0);
    transform: scale(1.4) rotate(15deg);
}






/*
.gallery-section
{
    width: 100%;
    padding: 60px 0;
}


.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-secton .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s
                
}
.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
}
@media screen and (max-width:960px){
    .gallery-section .imaage{
        flex: 33.33%;
    }
}

@media screen and (max-width:768px){
    .gallery-section .imaage{
        flex: 50%;
    }
}
@media screen and (max-width:480px){
    .gallery-section .imaage{
        flex: 100%;
    }
}

*/


/*============Img Galllery==================*/









/*====Footer====*/

.footer{
    background: #000;
    color: #fff;
}
.fab{
    padding-left: 10px;
}









